  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
  * {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

.root {
    padding: 0 1.5rem;
}

.signup {
    background-color: navy;
    color: white;
    padding: 12px 2rem;
    border-radius: 2rem;
    font-size: 16px;
}

.learnmore {
    background-color: navy;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    max-width: 165px;
}

a:link {
    text-decoration: none;
    color: white
}

p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;

}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img__wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
}

#navi {

}

ul {
    display: flex;
}

li {
    list-style-type: none;
  }

.logo {
    width: 116px;
}

.nav__link {
    margin: 0 16px;
}

/* LANDING */ 

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 100px);
}

.landing__description {
    width: 50%;
}

.landing__title {
    font-size: 40px;
    padding-bottom: 32px;
}

.landing__para {
    padding-bottom: 32px;
}

.landing__info {
    padding-bottom: 40px;
}


.email {
    border-radius: 2rem;
    border-color: solid #555; 
    padding: 1.5rem 4rem 1.5rem 1rem;
}

/*height calc(84vh - 100px)*/ 

.getstarted {
    background-color: navy;
    color: white;
    font-size: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    border: none;
    max-width: 165px;
}

.landing__trust {
    padding-bottom: 48px;
}

.landing__img {
    width: 55%;
}

.firstimg {
    height: 400px;
}

/* FEATURES */

.feature__container {
    height: calc(60vh - 100px);
    display: flex;
    align-content: center;
}

.features {
    padding-bottom: 1rem;
}

.feature__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.features__header {
    font-size: 48px;
}

.feature__para {
    width: 50%;
    padding: 1.5rem 0 3rem 0;
    margin: 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3rem;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__description {
    display: flex;
    flex-direction: column;
    padding: 0 32px 32px 32px;
}

.service__img {
    border: 2px solid #555;
    height: 24px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2rem;
}

/* QUALITY WORK */ 

.qw__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.qualitywork__title {
    padding-bottom: 2rem;
}

.qualitywork__header {
    font-size: 60px;
}

/* STEPS */

.step__container {
    display: flex;
    height: calc(80vh - 100px);
}

.step__title {
    margin-bottom: 16px;
    font-size: 16px;
}

.step__header {
    font-size: 40px;
}

.step {
    display: flex;
    margin-top: 24px;
}

.step__number {
    color: lightgrey;
    font-size: 40px;
    margin-right: 24px;
}

/* VALUE */

#values {
}

.v--container {
    display: flex;
    padding: 1rem 0 2rem 0;
}

.value__container {
    display: flex;
    height: calc(100vh - 100px);
}

.values__title {
    margin-bottom: 24px;
}

.values__header {
    font-size: 60px;
}

.val__can {
    width: 50%;
}

/* PRICING */ 

.price__container {
    height: calc(100vh - 100px); 
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price__title {
    font-size: 16px;
    padding: 1rem;
}

.price__header {
    font-size: 40px;
}

.pricing__para {
    text-align: center;
    width: 45%;
    padding: 1rem;
}

.plans {
    display: flex;
    text-align: center;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid grey 1px;
    border-radius: 8px;
}

.middle__plan {
    margin: 0 1rem;
    background-image: linear-gradient(to bottom right, navy, blue);
    color: white;
}

.plan__top {
    border-bottom: solid grey 1px;
    padding:  1rem 5rem;
}

.plan__title {
    padding: 1rem;
}

.plan__price {
    font-size: 48px;
}

.plan__monthly {
    padding: .5rem;
}

.plan__middle {
    padding: 0 0 1rem 0;
}

.plan__type {     
    padding: 2rem 0 1rem 0;                             
}

.plan__bottom {
    border-top: solid grey 1px;
    padding: 1rem 5rem;
}

.plan__details {
    flex-direction: column;
}

.plan__detail {
    margin: 16px;
}

.buyleft,
.buymid,
.buyright {
    color: white;
    padding: 1rem 4rem;
    border-radius: 3rem;
    border: none;
}

.buyleft {
    background-image: linear-gradient(to bottom right, teal, white);
}

.buymid {
    background: white;
    color: navy;
}

.buyright {
    background-image: linear-gradient(to bottom right, #7342d6, white);
}


/* TEST TIMONIALS */

#testimonial {
    height: calc(100vh - 100px);
}

.test__container {
    display: flex;
    justify-content: space-evenly;
    margin: 15rem 0;
}

.img__wrapper {
    width: 50%;
}

.testimonal {
    width: 50%;
}

.testimonal__title {
    font-size: 1rem;
}

.testimonal__subtitle {
    padding: 1rem 0;
}

.user__rating {
    padding: 1rem 0;
}

.user__names {
    padding: 1rem;
}

/* FAQS  */ 

#faqs {
    height: calc(150vh - 100px);
}

.faq__title {
    display: flex;
    justify-content: center;
}

.faq__subtitle {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

.faq__description {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.faq__questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion-item {
    background-color: lightgrey;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 1)
}

.accordion-link {
    font-size: 1.6rem;
    color: navy;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: navy;
    padding: .5rem;
}

.minus {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    padding: 0 1rem;
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .2rem;
    height: 90%;
    background-color: navy;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    font-size: 1.4rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .positive{
    display: none;
}

.accordion-item:target .accordion-link .minus{
    display: block;
}

/* contact */ 

.contact__container {
    display: flex;
    margin: 7rem 0;
    padding: 100px;
    background: linear-gradient(to bottom right, navy, blue);
    border-radius: 8px;
}

.contact__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 50%;
    color: white;
    
}

.contact__buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start {
    background-color: #3333ff;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    max-width: 165px;
    margin-right: 2rem;
}

.Contact {
    background-color: #3333ff;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    max-width: 165px;
}

/* footer */ 

footer {
    background: navy;
}

.links {
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    padding: 5rem;
}

.link__row {
    flex-direction: column;
    padding-top: 3rem;

}

.footer__link {
    color: white;
}

.link--click {
    margin: 8px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid grey 1px;
    padding: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo,
.footer__copyright,
.social__media--links {
    color: white;
}

.fa-brands {
    padding: 0 1rem; 
}


@media (max-width: 992px) {
    .email {
        padding: 1.5rem 4.5rem;
    }
    .getstarted {
        margin-top: 1rem;
        padding: 1rem 9.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
    }
    .plan__top, .plan__bottom {
        padding: .5rem 1rem;
    } 
    .testimonal , .test__container {
        margin-left: 2rem;
    }
    .link {
        padding: 2.5rem;
    }
    .faq__description {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .section__landing {
        flex-direction: column;
        height: 120vh;
    }
    .landing__description,
    .landing__img {
        width: 100%;
    }
    .landing__info {
        display: grid;
        place-content: center;
    }
    .landing__title,
    .landing__para,
    .landing__trust {
        text-align: center;
    } 
    .feature__container {
        height: 160vh;
    }
    .feature__para {
        width: 75%;
    }
    .services {
        flex-direction: column;
        display: grid;
        place-items: center;
    }
    .service {
        width: 100%;
    }
    .service__para {
        font-size: 2rem;
        width: 100%;
    }
    .service__description {
        width: 100%;
    }
    .qw__container {
        flex-direction: column;
        height: 130vh;
    }
    .qualitywork__title,
    .qualitywork__header,
    .qualitywork__para {
        text-align: center;
    }
    .qualitywork__para {
        padding: 1rem;
    }
    
    .container,
    .img__wrapper {
        width: 100%;
        padding: 2rem 0;
        align-items: center;
    }
    .step__container {
        flex-direction: column;
        height: 120vh
    }
    .value__container {
        flex-direction: column;
        height: 130vh;
    }
    .values__header,
    .values__para {
        text-align: center;
    }
    .values__para {
        padding: 2rem 0;
    }
    .learnmore {
        padding: 1rem 14rem;
        display: grid;
        place-content: center;
    }
    .price__container {
        height: 200vh;
    }
    .price__header {
        text-align: center;
    }
    .pricing__para {
        width: 75%;
    }
    .plans {
        flex-direction: column;
        display: grid;
        place-items: center;
        margin: 0 5rem;
    }
    .plan {
        margin-bottom: 3rem;
    }
    .test__container {
        flex-direction: column;
    }
    .testimonal {
        display: grid;
        place-items: center;
        width: 80%;
    }
    .testimonal__description {
        text-align: center;
    }
    .contact__container {
        margin: 2.5rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__title {
        width: 50%;
        text-align: center;
        padding-bottom: 3rem;
    }
    .contact__buttons {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .Start,
    .Contact {
        padding: 1rem 4rem;
    }
    .footer__info  {
        padding: 4rem 2rem
    }
}

@media (max-width: 576px) {
    .section__landing {
        height: 100vh;
    }
    .feature__container {
        height: 250vh;
    }
    .plans {
        margin: 0 1rem;
    }
    .contact__container {
        padding: 4rem 1rem
    }
    .link {
        padding: 2rem .2rem;
    }
    .footer__info {
        padding: 4rem 2rem;
    }
    .footer__copyright {
        text-align: center;
    }
    .social__media--links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

